In [1]:
L = []

In [2]:
def my_func(x):
    return x*2

In [3]:
for i in range(5):
    L.append(my_func(i))

In [4]:
L

[0, 2, 4, 6, 8]

In [5]:
# [* for i in *], first i: map function, second i: iterable
[my_func(i) for i in range(5)]

[0, 2, 4, 6, 8]

In [6]:
[m+'_'+n for m in ['a','b'] for n in ['c','d']]

['a_c', 'a_d', 'b_c', 'b_d']

In [7]:

# condition else b
value = 'cat' if 2>1 else 'dog'
value

'cat'

In [8]:
# Intercept list
L = [1,2,3,4,5,6,7,8,9]

In [9]:
[i if i <= 5 else 5 for i in L]

[1, 2, 3, 4, 5, 5, 5, 5, 5]

In [10]:
# Anonymous function (lambda)
my_func = lambda x: x*2
a = my_func(6)
a

12

In [11]:
multi_para_func = lambda a,b:a+b
b = multi_para_func(2,3)
b

5

In [12]:
[(lambda x: x*2)(i) for i in range(5)]

[0, 2, 4, 6, 8]

In [13]:
# map
list(map(lambda x: x**2, range(5)))

[0, 1, 4, 9, 16]

In [14]:
list(map(lambda x,y:x+y,range(5), range(5)))

[0, 2, 4, 6, 8]

In [15]:
L1, L2, L3 = list('abc'), list('def'), list('ghi')
list(zip(L1, L2, L3))

[('a', 'd', 'g'), ('b', 'e', 'h'), ('c', 'f', 'i')]

In [16]:
L = list('abcd')
for i, v in enumerate(L):
    print("index with value:", i, v)

index with value: 0 a
index with value: 1 b
index with value: 2 c
index with value: 3 d